<% if user_signed_in? %>
<li>
	<%= current_user.email %> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
</li>
<% else %>
<li>
	<%= link_to('Login', new_user_session_path)  %>  
	<%= link_to('Register', new_user_registration_path)  %>
</li>
<% end %>

<table class="table">
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.email %></td>
		<td><%= link_to user.longitude %></td>
		<td><%= link_to user.latitude %></td>
	</tr>
	<% end %>
</table>

<%= link_to "Find player", "/find_player" %>